<section class="hero-section">
    <picture>
        <source srcset="/Assets/images/banner.webp" type="image/webp" media="(min-width: 768px)">
        <source srcset="/Assets/images/banner.jpg" type="image/jpg" media="(min-width: 768px)">
        <source srcset="/Assets/images/banner-mobile.webp" type="image/webp" media="(max-width: 768px)">
        <source srcset="/Assets/images/banner-mobile.jpg" type="image/jpg" media="(max-width: 768px)">
        <img alt="banner" src="/Assets/images/home-banner.jpg" class="banner-img"/>
     </picture>
     <div class="hero-wrapper container">
        <div class="intro-btn">
            <h1>تپسی</h1>
            <h2>اپلیکیشن درخواست خودرو و پیک</h2>
            <div class="intro-wrapper">
                <div class="intro-btn__passenger">
                    <span class="icon"><img src="/Assets/images/icons8dark-download-24.png" alt=""></span>
                    <p>دانلود اپلیکیشن مسافران</p>
                </div>
                <div class="intro-btn__passenger">
                    <span class="icon"><img src="/Assets/images/pwa-icon.png" alt=""></span>
                    <p>وب اپلیکیشن مسافران</p>
                </div>
                <div class="intro-btn__passenger__car">
                    <span class="icon"><img src="/Assets/images/icons8-car-25.png" alt=""></span>
                    <p>ثبت نام راننده خودرو</p>
                    </div>
                <div class="intro-btn__passenger__car">
                    <span class="icon"><img src="/Assets/images/icons8-motocross-helmet-24.png" alt=""></span>
                    <p>ثبت نام راننده موتور</p>
                    </div>
                <div class="intro-btn__passenger__car">
                    <span class="icon"><img src="/Assets/images/icons8light-download-24.png" alt=""></span>
                    <p>دانلود اپلیکیشن رانندگان</p>
                </div>
            </div>
         </div>
     </div>
</section>



